In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [197]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500

In [5]:
!pip install pycaret

Collecting pycaret
  Downloading pycaret-2.3.6-py3-none-any.whl (301 kB)
     |████████████████████████████████| 301 kB 17.2 MB/s
Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (from pycaret) (1.3.5)
Requirement already satisfied: seaborn in /opt/conda/lib/python3.7/site-packages (from pycaret) (0.11.2)
Requirement already satisfied: scikit-plot in /opt/conda/lib/python3.7/site-packages (from pycaret) (0.3.7)
Collecting gensim<4.0.0
  Downloading gensim-3.8.3-cp37-cp37m-manylinux1_x86_64.whl (24.2 MB)
     |████████████████████████████████| 24.2 MB 21.7 MB/s
Collecting mlflow
  Downloading mlflow-1.23.1-py3-none-any.whl (15.6 MB)
     |████████████████████████████████| 15.6 MB 33.6 MB/s
Requirement already satisfied: Boruta in /opt/conda/lib/python3.7/site-packages (from pycaret) (0.3)
Requirement already satisfied: plotly>=4.4.1 in /opt/conda/lib/python3.7/site-packages (from pycaret) (5.5.0)
Requirement already satisfied: cufflinks>=0.17.0 in /opt/conda/lib/python3.7/site-packages (from pycaret) (0.17.3)
Collecting pyod
  Downloading pyod-0.9.7.tar.gz (114 kB)
     |████████████████████████████████| 114 kB 31.9 MB/s
  Preparing metadata (setup.py) ... done
Requirement already satisfied: textblob in /opt/conda/lib/python3.7/site-packages (from pycaret) (0.17.1)
Collecting spacy<2.4.0
  Downloading spacy-2.3.7-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.4 MB)
     |████████████████████████████████| 10.4 MB 14.8 MB/s
Requirement already satisfied: scikit-learn==0.23.2 in /opt/conda/lib/python3.7/site-packages (from pycaret) (0.23.2)
Requirement already satisfied: wordcloud in /opt/conda/lib/python3.7/site-packages (from pycaret) (1.8.1)
Collecting imbalanced-learn==0.7.0
  Downloading imbalanced_learn-0.7.0-py3-none-any.whl (167 kB)
     |████████████████████████████████| 167 kB 34.6 MB/s
Requirement already satisfied: mlxtend>=0.17.0 in /opt/conda/lib/python3.7/site-packages (from pycaret) (0.19.0)
Requirement already satisfied: ipywidgets in /opt/conda/lib/python3.7/site-packages (from pycaret) (7.6.5)
Requirement already satisfied: nltk in /opt/conda/lib/python3.7/site-packages (from pycaret) (3.2.4)
Requirement already satisfied: umap-learn in /opt/conda/lib/python3.7/site-packages (from pycaret) (0.5.2)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.7/site-packages (from pycaret) (3.5.1)
Requirement already satisfied: kmodes>=0.10.1 in /opt/conda/lib/python3.7/site-packages (from pycaret) (0.11.1)
Requirement already satisfied: lightgbm>=2.3.1 in /opt/conda/lib/python3.7/site-packages (from pycaret) (3.3.1)
Requirement already satisfied: pyLDAvis in /opt/conda/lib/python3.7/site-packages (from pycaret) (3.2.2)
Collecting pyyaml<6.0.0
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 40.0 MB/s
Requirement already satisfied: IPython in /opt/conda/lib/python3.7/site-packages (from pycaret) (7.30.1)
Requirement already satisfied: joblib in /opt/conda/lib/python3.7/site-packages (from pycaret) (1.1.0)
Requirement already satisfied: pandas-profiling>=2.8.0 in /opt/conda/lib/python3.7/site-packages (from pycaret) (3.0.0)
Requirement already satisfied: yellowbrick>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from pycaret) (1.3.post1)
Collecting scipy<=1.5.4
  Downloading scipy-1.5.4-cp37-cp37m-manylinux1_x86_64.whl (25.9 MB)
     |████████████████████████████████| 25.9 MB 24.9 MB/s
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.7/site-packages (from imbalanced-learn==0.7.0->pycaret) (1.20.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from scikit-learn==0.23.2->pycaret) (3.0.0)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.7/site-packages (from cufflinks>=0.17.0->pycaret) (1.16.0)
Requirement already satisfied: setuptools>=34.4.1 in /opt/conda/lib/python3.7/site-packages (from cufflinks>=0.17.0->pycaret) (59.5.0)
Requirement already satisfied: colorlover>=0.2.1 in /opt/conda/lib/python3.7/site-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: smart-open>=1.8.1 in /opt/conda/lib/python3.7/site-packages (from gensim<4.0.0->pycaret) (5.2.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (3.0.24)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (5.1.1)
Requirement already satisfied: backcall in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (5.1.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (0.1.3)
Requirement already satisfied: pygments in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (2.10.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (4.8.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.7/site-packages (from IPython->pycaret) (0.18.1)
Requirement already satisfied: ipykernel>=4.5.1 in /opt/conda/lib/python3.7/site-packages (from ipywidgets->pycaret) (6.6.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in /opt/conda/lib/python3.7/site-packages (from ipywidgets->pycaret) (0.2.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /opt/conda/lib/python3.7/site-packages (from ipywidgets->pycaret) (1.0.2)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /opt/conda/lib/python3.7/site-packages (from ipywidgets->pycaret) (3.5.2)
Requirement already satisfied: nbformat>=4.2.0 in /opt/conda/lib/python3.7/site-packages (from ipywidgets->pycaret) (5.1.3)
Requirement already satisfied: wheel in /opt/conda/lib/python3.7/site-packages (from lightgbm>=2.3.1->pycaret) (0.37.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pycaret) (4.28.4)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pycaret) (8.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pycaret) (3.0.6)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pycaret) (21.3)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pycaret) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pycaret) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pycaret) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas->pycaret) (2021.3)
Requirement already satisfied: htmlmin>=0.1.12 in /opt/conda/lib/python3.7/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.12)
Requirement already satisfied: phik>=0.11.1 in /opt/conda/lib/python3.7/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.12.0)
Requirement already satisfied: visions[type_image_path]==0.7.1 in /opt/conda/lib/python3.7/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.7.1)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in /opt/conda/lib/python3.7/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.0)
Requirement already satisfied: pydantic>=1.8.1 in /opt/conda/lib/python3.7/site-packages (from pandas-profiling>=2.8.0->pycaret) (1.8.2)
Requirement already satisfied: tqdm>=4.48.2 in /opt/conda/lib/python3.7/site-packages (from pandas-profiling>=2.8.0->pycaret) (4.62.3)
Requirement already satisfied: jinja2>=2.11.1 in /opt/conda/lib/python3.7/site-packages (from pandas-profiling>=2.8.0->pycaret) (3.0.3)
Requirement already satisfied: requests>=2.24.0 in /opt/conda/lib/python3.7/site-packages (from pandas-profiling>=2.8.0->pycaret) (2.26.0)

Requirement already satisfied: missingno>=0.4.2 in /opt/conda/lib/python3.7/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.4.2)
Requirement already satisfied: networkx>=2.4 in /opt/conda/lib/python3.7/site-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (2.6.3)
Requirement already satisfied: attrs>=19.3.0 in /opt/conda/lib/python3.7/site-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (21.2.0)
Requirement already satisfied: bottleneck in /opt/conda/lib/python3.7/site-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (1.3.2)
Requirement already satisfied: multimethod==1.4 in /opt/conda/lib/python3.7/site-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (1.4)
Requirement already satisfied: imagehash in /opt/conda/lib/python3.7/site-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (4.2.1)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.7/site-packages (from plotly>=4.4.1->pycaret) (8.0.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from spacy<2.4.0->pycaret) (2.0.6)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /opt/conda/lib/python3.7/site-packages (from spacy<2.4.0->pycaret) (0.9.0)
Collecting catalogue<1.1.0,>=0.0.7
  Downloading catalogue-1.0.0-py2.py3-none-any.whl (7.7 kB)
Collecting thinc<7.5.0,>=7.4.1
  Downloading thinc-7.4.5-cp37-cp37m-manylinux2014_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 22.4 MB/s
Collecting plac<1.2.0,>=0.9.6
  Downloading plac-1.1.3-py2.py3-none-any.whl (20 kB)
Collecting srsly<1.1.0,>=1.0.2
  Downloading srsly-1.0.5-cp37-cp37m-manylinux2014_x86_64.whl (184 kB)
     |████████████████████████████████| 184 kB 28.3 MB/s
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /opt/conda/lib/python3.7/site-packages (from spacy<2.4.0->pycaret) (0.7.5)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from spacy<2.4.0->pycaret) (3.0.6)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/conda/lib/python3.7/site-packages (from spacy<2.4.0->pycaret) (1.0.6)
Collecting numpy>=1.13.3
  Downloading numpy-1.19.5-cp37-cp37m-manylinux2010_x86_64.whl (14.8 MB)
     |████████████████████████████████| 14.8 MB 39.4 MB/s
Requirement already satisfied: sqlparse>=0.3.1 in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (0.4.2)
Requirement already satisfied: gitpython>=2.1.0 in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (3.1.24)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (1.4.28)
Requirement already satisfied: Flask in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (2.0.2)
Collecting gunicorn
  Downloading gunicorn-20.1.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 14.5 MB/s
Collecting querystring-parser
  Downloading querystring_parser-1.2.4-py2.py3-none-any.whl (7.9 kB)
Requirement already satisfied: entrypoints in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (0.3)
Requirement already satisfied: docker>=4.0.0 in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (5.0.3)
Requirement already satisfied: protobuf>=3.7.0 in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (3.19.1)
Requirement already satisfied: cloudpickle in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (2.0.0)
Requirement already satisfied: importlib-metadata!=4.7.0,>=3.7.0 in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (4.10.1)
Requirement already satisfied: alembic in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (1.7.6)
Collecting databricks-cli>=0.8.7
  Downloading databricks-cli-0.16.4.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 9.7 MB/s
  Preparing metadata (setup.py) ... done
Collecting prometheus-flask-exporter
  Downloading prometheus_flask_exporter-0.18.7-py3-none-any.whl (17 kB)
Requirement already satisfied: click>=7.0 in /opt/conda/lib/python3.7/site-packages (from mlflow->pycaret) (8.0.3)
Requirement already satisfied: numexpr in /opt/conda/lib/python3.7/site-packages (from pyLDAvis->pycaret) (2.8.1)
Requirement already satisfied: funcy in /opt/conda/lib/python3.7/site-packages (from pyLDAvis->pycaret) (1.17)
Requirement already satisfied: future in /opt/conda/lib/python3.7/site-packages (from pyLDAvis->pycaret) (0.18.2)
Requirement already satisfied: numba>=0.35 in /opt/conda/lib/python3.7/site-packages (from pyod->pycaret) (0.54.1)
Requirement already satisfied: statsmodels in /opt/conda/lib/python3.7/site-packages (from pyod->pycaret) (0.13.1)
Requirement already satisfied: pynndescent>=0.5 in /opt/conda/lib/python3.7/site-packages (from umap-learn->pycaret) (0.5.6)
Requirement already satisfied: tabulate>=0.7.7 in /opt/conda/lib/python3.7/site-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (0.8.9)
Requirement already satisfied: websocket-client>=0.32.0 in /opt/conda/lib/python3.7/site-packages (from docker>=4.0.0->mlflow->pycaret) (1.2.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /opt/conda/lib/python3.7/site-packages (from gitpython>=2.1.0->mlflow->pycaret) (4.0.1)
Requirement already satisfied: gitdb<5,>=4.0.1 in /opt/conda/lib/python3.7/site-packages (from gitpython>=2.1.0->mlflow->pycaret) (4.0.9)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata!=4.7.0,>=3.7.0->mlflow->pycaret) (3.6.0)
Requirement already satisfied: argcomplete>=1.12.3 in /opt/conda/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (1.12.3)
Requirement already satisfied: tornado<7.0,>=4.2 in /opt/conda/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.1)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in /opt/conda/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (1.5.1)
Requirement already satisfied: jupyter-client<8.0 in /opt/conda/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (7.1.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.7/site-packages (from jedi>=0.16->IPython->pycaret) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.7/site-packages (from jinja2>=2.11.1->pandas-profiling>=2.8.0->pycaret) (2.0.1)
Requirement already satisfied: jupyter-core in /opt/conda/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.9.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /opt/conda/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.3.1)
Requirement already satisfied: llvmlite<0.38,>=0.37.0rc1 in /opt/conda/lib/python3.7/site-packages (from numba>=0.35->pyod->pycaret) (0.37.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.7/site-packages (from pexpect>4.3->IPython->pycaret) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython->pycaret) (0.2.5)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.7/site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.0.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (1.26.7)
Requirement already satisfied: notebook>=4.4.1 in /opt/conda/lib/python3.7/site-packages (from widgetsnbextension~=3.5.0->ipywidgets->pycaret) (6.4.6)
Requirement already satisfied: importlib-resources in /opt/conda/lib/python3.7/site-packages (from alembic->mlflow->pycaret) (5.4.0)
Requirement already satisfied: Mako in /opt/conda/lib/python3.7/site-packages (from alembic->mlflow->pycaret) (1.1.6)

Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.7/site-packages (from sqlalchemy->mlflow->pycaret) (1.1.2)
Requirement already satisfied: Werkzeug>=2.0 in /opt/conda/lib/python3.7/site-packages (from Flask->mlflow->pycaret) (2.0.2)
Requirement already satisfied: itsdangerous>=2.0 in /opt/conda/lib/python3.7/site-packages (from Flask->mlflow->pycaret) (2.0.1)
Requirement already satisfied: prometheus-client in /opt/conda/lib/python3.7/site-packages (from prometheus-flask-exporter->mlflow->pycaret) (0.12.0)
Requirement already satisfied: patsy>=0.5.2 in /opt/conda/lib/python3.7/site-packages (from statsmodels->pyod->pycaret) (0.5.2)
Requirement already satisfied: smmap<6,>=3.0.1 in /opt/conda/lib/python3.7/site-packages (from gitdb<5,>=4.0.1->gitpython>=2.1.0->mlflow->pycaret) (3.0.5)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /opt/conda/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->pycaret) (0.18.0)
Requirement already satisfied: nest-asyncio>=1.5 in /opt/conda/lib/python3.7/site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets->pycaret) (1.5.4)
Requirement already satisfied: pyzmq>=13 in /opt/conda/lib/python3.7/site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets->pycaret) (22.3.0)
Requirement already satisfied: Send2Trash>=1.8.0 in /opt/conda/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in /opt/conda/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.12.1)
Requirement already satisfied: argon2-cffi in /opt/conda/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (21.1.0)
Requirement already satisfied: nbconvert in /opt/conda/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (6.3.0)
Requirement already satisfied: PyWavelets in /opt/conda/lib/python3.7/site-packages (from imagehash->visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (1.2.0)
Requirement already satisfied: cffi>=1.0.0 in /opt/conda/lib/python3.7/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.15.0)
Requirement already satisfied: defusedxml in /opt/conda/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/conda/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.5.0)
Requirement already satisfied: testpath in /opt/conda/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/conda/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /opt/conda/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.9)
Requirement already satisfied: jupyterlab-pygments in /opt/conda/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.1.2)
Requirement already satisfied: bleach in /opt/conda/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (4.1.0)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.7/site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (2.21)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.1)
Building wheels for collected packages: pyod, databricks-cli
  Building wheel for pyod (setup.py) ... done
  Created wheel for pyod: filename=pyod-0.9.7-py3-none-any.whl size=136277 sha256=18b540475ac719eeac55ea8135972dc0a22a4dc3a14000008c1017874decd352
  Stored in directory: /root/.cache/pip/wheels/ce/14/ae/60cbb36511e59bc12f8f0883805f586db3b315972b54865d33
  Building wheel for databricks-cli (setup.py) ... done
  Created wheel for databricks-cli: filename=databricks_cli-0.16.4-py3-none-any.whl size=106877 sha256=1148d99aa88e2610639a2a5f4e83debcfe20b8d0949c5c81c4ae6faf6ef782d6
  Stored in directory: /root/.cache/pip/wheels/a2/a1/6d/fa1d22ea25ed8593887437fe1c7e00f6ef307fc240ccd4dc5c
Successfully built pyod databricks-cli
Installing collected packages: numpy, scipy, srsly, plac, catalogue, thinc, querystring-parser, pyyaml, prometheus-flask-exporter, gunicorn, databricks-cli, spacy, pyod, mlflow, imbalanced-learn, gensim, pycaret
  Attempting uninstall: numpy
    Found existing installation: numpy 1.20.3
    Uninstalling numpy-1.20.3:
      Successfully uninstalled numpy-1.20.3
  Attempting uninstall: scipy
    Found existing installation: scipy 1.7.3
    Uninstalling scipy-1.7.3:
      Successfully uninstalled scipy-1.7.3
  Attempting uninstall: srsly
    Found existing installation: srsly 2.4.2
    Uninstalling srsly-2.4.2:
      Successfully uninstalled srsly-2.4.2
  Attempting uninstall: catalogue
    Found existing installation: catalogue 2.0.6
    Uninstalling catalogue-2.0.6:
      Successfully uninstalled catalogue-2.0.6
  Attempting uninstall: thinc
    Found existing installation: thinc 8.0.13
    Uninstalling thinc-8.0.13:
      Successfully uninstalled thinc-8.0.13
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 6.0
    Uninstalling PyYAML-6.0:
      Successfully uninstalled PyYAML-6.0
  Attempting uninstall: spacy
    Found existing installation: spacy 3.2.1
    Uninstalling spacy-3.2.1:
      Successfully uninstalled spacy-3.2.1
  Attempting uninstall: imbalanced-learn
    Found existing installation: imbalanced-learn 0.9.0
    Uninstalling imbalanced-learn-0.9.0:
      Successfully uninstalled imbalanced-learn-0.9.0
  Attempting uninstall: gensim
    Found existing installation: gensim 4.0.1
    Uninstalling gensim-4.0.1:
      Successfully uninstalled gensim-4.0.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-io 0.21.0 requires tensorflow-io-gcs-filesystem==0.21.0, which is not installed.
explainable-ai-sdk 1.3.2 requires xai-image-widget, which is not installed.
beatrix-jupyterlab 3.1.6 requires google-cloud-bigquery-storage, which is not installed.
tfx-bsl 1.5.0 requires absl-py<0.13,>=0.9, but you have absl-py 0.15.0 which is incompatible.
tfx-bsl 1.5.0 requires pyarrow<6,>=1, but you have pyarrow 6.0.1 which is incompatible.
tfx-bsl 1.5.0 requires tensorflow!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,<3,>=1.15.2, but you have tensorflow 2.6.2 which is incompatible.
tensorflow 2.6.2 requires six~=1.15.0, but you have six 1.16.0 which is incompatible.
tensorflow 2.6.2 requires typing-extensions~=3.7.4, but you have typing-extensions 4.0.1 which is incompatible.
tensorflow 2.6.2 requires wrapt~=1.12.1, but you have wrapt 1.13.3 which is incompatible.
tensorflow-transform 1.5.0 requires absl-py<0.13,>=0.9, but you have absl-py 0.15.0 which is incompatible.
tensorflow-transform 1.5.0 requires pyarrow<6,>=1, but you have pyarrow 6.0.1 which is incompatible.
tensorflow-transform 1.5.0 requires tensorflow!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,<2.8,>=1.15.2, but you have tensorflow 2.6.2 which is incompatible.
tensorflow-serving-api 2.7.0 requires tensorflow<3,>=2.7.0, but you have tensorflow 2.6.2 which is incompatible.
scattertext 0.1.5 requires gensim>=4.0.0, but you have gensim 3.8.3 which is incompatible.
pdpbox 0.2.1 requires matplotlib==3.1.1, but you have matplotlib 3.5.1 which is incompatible.
featuretools 1.4.1 requires numpy>=1.21.0, but you have numpy 1.19.5 which is incompatible.
en-core-web-sm 3.2.0 requires spacy<3.3.0,>=3.2.0, but you have spacy 2.3.7 which is incompatible.
en-core-web-lg 3.2.0 requires spacy<3.3.0,>=3.2.0, but you have spacy 2.3.7 which is incompatible.
arviz 0.11.4 requires typing-extensions<4,>=3.7.4.3, but you have typing-extensions 4.0.1 which is incompatible.
apache-beam 2.34.0 requires dill<0.3.2,>=0.3.1.1, but you have dill 0.3.4 which is incompatible.
apache-beam 2.34.0 requires httplib2<0.20.0,>=0.8, but you have httplib2 0.20.2 which is incompatible.
apache-beam 2.34.0 requires pyarrow<6.0.0,>=0.15.1, but you have pyarrow 6.0.1 which is incompatible.
apache-beam 2.34.0 requires typing-extensions<4,>=3.7.0, but you have typing-extensions 4.0.1 which is incompatible.
Successfully installed catalogue-1.0.0 databricks-cli-0.16.4 gensim-3.8.3 gunicorn-20.1.0 imbalanced-learn-0.7.0 mlflow-1.23.1 numpy-1.19.5 plac-1.1.3 prometheus-flask-exporter-0.18.7 pycaret-2.3.6 pyod-0.9.7 pyyaml-5.4.1 querystring-parser-1.2.4 scipy-1.5.4 spacy-2.3.7 srsly-1.0.5 thinc-7.4.5
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [6]:
from pycaret.regression import *

In [2]:
#import modules
import matplotlib.pyplot as plt # for plotting graphs
import seaborn as sns # for plotting graphs
from sklearn.preprocessing import LabelEncoder,FunctionTransformer
from sklearn.model_selection import KFold,StratifiedKFold
from sklearn.metrics import r2_score
from category_encoders import TargetEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
%matplotlib inline

In [7]:
KAGGLE=False

In [8]:
if KAGGLE:
    path='../input/jobathonfebruary2022/'
else:
    path=''

In [101]:
train_orig = pd.read_csv(path+'train_0OECtn8.csv')
test_orig = pd.read_csv(path+'test_1zqHu22.csv')

create inner test

In [136]:
kf = KFold(n_splits=8)
test_fold_gen = kf.split(train_orig,train_orig['engagement_score'])
sel_fold = 0
for fold,(train_index,test_index) in enumerate(test_fold_gen):
    if fold==sel_fold:
        test = train_orig.iloc[test_index,:].reset_index()
        train = train_orig.iloc[train_index,:].reset_index()
        break
print(train.shape)        
print(test.shape)

(78047, 11)
(11150, 11)

In [137]:
x= train['user_id'].value_counts()
user_id_cutoff = x[x>1].index

mask = train['user_id'].isin(user_id_cutoff)
train=train[mask].reset_index()
print(train.shape)

(75866, 12)

In [138]:
target_diff = set(test['engagement_score'].values).difference(set(train['engagement_score'].values))
print(len(target_diff),target_diff)
user_diff = set(test['user_id'].values).difference(set(train['user_id'].values))
print(len(user_diff),user_diff)
category_id_diff = set(test['category_id'].values).difference(set(train['category_id'].values))
print(len(category_id_diff),category_id_diff)
video_id_diff = set(test['video_id'].values).difference(set(train['video_id'].values))
print(len(video_id_diff),video_id_diff)
followers_diff = set(test['followers'].values).difference(set(train['followers'].values))
print(len(followers_diff),followers_diff)
views_diff = set(test['views'].values).difference(set(train['views'].values))
print(len(views_diff),views_diff)

0 set()
2334 {16385, 24578, 24579, 16390, 7, 8200, 8201, 24582, 16397, 16399, 19, 16405, 16425, 8235, 16430, 8239, 48, 8240, 8244, 16439, 24637, 16447, 24642, 8261, 16453, 8263, 72, 16454, 16456, 24650, 77, 24662, 16473, 99, 24675, 24684, 109, 16495, 112, 24694, 16504, 16508, 24707, 8326, 149, 16533, 8344, 8345, 16536, 8349, 24735, 16545, 24744, 24746, 172, 24751, 16563, 24755, 24762, 187, 8381, 24780, 24785, 210, 24787, 8407, 218, 16604, 221, 16605, 24796, 224, 24797, 24804, 8421, 16614, 234, 16618, 16629, 24828, 256, 24832, 24834, 8465, 274, 16662, 24856, 24857, 16667, 24861, 16677, 16678, 297, 8492, 306, 308, 8500, 16697, 24892, 319, 8511, 24895, 16706, 323, 325, 16711, 16712, 8522, 8523, 332, 24908, 336, 8530, 24915, 24919, 16728, 8541, 16734, 8543, 8548, 16742, 360, 24941, 16752, 24946, 373, 381, 8576, 386, 388, 8585, 16777, 8588, 24972, 8593, 24981, 407, 24983, 24985, 8602, 413, 24990, 16801, 24993, 8613, 8614, 8616, 8618, 428, 16813, 8622, 8627, 8631, 446, 25024, 8644, 25028, 16842, 16843, 460, 8653, 16845, 25034, 25037, 466, 25044, 8661, 474, 25050, 8669, 25055, 16871, 488, 25065, 493, 25069, 500, 8693, 25078, 8697, 8706, 25092, 522, 16908, 8718, 16914, 8724, 25108, 16918, 535, 8728, 16923, 25115, 541, 25120, 545, 16936, 8745, 16946, 16951, 569, 25154, 16977, 8788, 25172, 8790, 604, 16988, 607, 16992, 25184, 611, 8803, 8813, 8822, 631, 17015, 636, 17026, 17027, 8838, 25223, 17032, 650, 25227, 25228, 656, 8849, 17040, 25235, 17044, 17050, 17067, 8876, 685, 8877, 17072, 8885, 17079, 8893, 25281, 25282, 707, 8899, 25285, 17094, 25288, 17097, 25294, 8913, 25297, 25308, 17123, 8937, 25321, 25324, 753, 25329, 17140, 759, 760, 25338, 25349, 17158, 17159, 8970, 8971, 17164, 17167, 25359, 787, 17177, 794, 25369, 8988, 17183, 25376, 802, 25378, 804, 17188, 9011, 821, 17208, 827, 17214, 834, 25415, 844, 9042, 17243, 861, 868, 9061, 873, 880, 9073, 882, 883, 9084, 25473, 17284, 25478, 9105, 25501, 9118, 9123, 25507, 933, 9127, 949, 25526, 953, 25529, 17342, 9151, 17344, 25536, 25540, 25541, 9158, 17350, 9160, 17353, 17355, 25549, 975, 978, 981, 17368, 991, 9184, 993, 25567, 1001, 9195, 17390, 9200, 17393, 25587, 17398, 17401, 17405, 1029, 9223, 9227, 25615, 9234, 25621, 1056, 25634, 25635, 9253, 17447, 9271, 25655, 9274, 17467, 9276, 25660, 1089, 25669, 1095, 25676, 9304, 25691, 9310, 17508, 17514, 25707, 25709, 17521, 25715, 1146, 17532, 1153, 9345, 9348, 17541, 1159, 25735, 17550, 17552, 1172, 1174, 1176, 1177, 1179, 1180, 25762, 25764, 17576, 17578, 25771, 25774, 9393, 9394, 25779, 1206, 9399, 1208, 17594, 1216, 17600, 17606, 9416, 25802, 25806, 9425, 17617, 1236, 9428, 17624, 1244, 9437, 25821, 25822, 1248, 25823, 9444, 1254, 17639, 17641, 17655, 9469, 17666, 9475, 17671, 1291, 25867, 1295, 9489, 17682, 25873, 9492, 17687, 1309, 17695, 25887, 9506, 1316, 9509, 9511, 9512, 1321, 1322, 25901, 25903, 9521, 1331, 9523, 25910, 1336, 17723, 9533, 25927, 25933, 17742, 1361, 17745, 9556, 17748, 25941, 25943, 17755, 17756, 25947, 1375, 25953, 1379, 17765, 9574, 17769, 9578, 9580, 17781, 17782, 1399, 1400, 9592, 17787, 9597, 1412, 1414, 17802, 17804, 1426, 9619, 17814, 9624, 9625, 1434, 26012, 9630, 17823, 17827, 26021, 9642, 26028, 9646, 17839, 17844, 9653, 17845, 17852, 26044, 1477, 1478, 9669, 1480, 26055, 1482, 9676, 9679, 9684, 9688, 17880, 1498, 26072, 26075, 1503, 17888, 1508, 9707, 26091, 1517, 9711, 26104, 17916, 9726, 1536, 9729, 17921, 26118, 17940, 1557, 26133, 26134, 26135, 17946, 26141, 26143, 17955, 26148, 17960, 26156, 9775, 26167, 26173, 1598, 9790, 17984, 26175, 9798, 17995, 1612, 9807, 17999, 1618, 9811, 1625, 9817, 1628, 26208, 26213, 1641, 1649, 26227, 9844, 26230, 1657, 26234, 26238, 18047, 1665, 9862, 26246, 9868, 26253, 1679, 18067, 26261, 1687, 26274, 26277, 18091, 1714, 18098, 26291, 26293, 18103, 1724, 9916, 9924, 1739, 18130, 1747, 26325, 1750, 18142, 26334, 18144, 1761, 26338, 18149, 1766, 26341, 1769, 26350, 9978, 9981, 18173, 1792, 9986, 1797, 18183, 1804, 18188, 10004, 10005, 18198, 10007, 10013, 1822, 18207, 26400, 1825, 26401, 10020, 26407, 18217, 1835, 10028, 18222, 26414, 18238, 1863, 18248, 18250, 10063, 10064, 10067, 18264, 18269, 1887, 10079, 26472, 18282, 1908, 1912, 18307, 26505, 10124, 26509, 26513, 10131, 1940, 10132, 1942, 1943, 10133, 10137, 1946, 18329, 26524, 10141, 1954, 26535, 10152, 10163, 26552, 10169, 26555, 10174, 1983, 18367, 1993, 26571, 26573, 18382, 18384, 18385, 10194, 2003, 18387, 18388, 18389, 10201, 26586, 18395, 18396, 18397, 26592, 2018, 18405, 26598, 18407, 10218, 26606, 26612, 2038, 26615, 10236, 10238, 18433, 2053, 26631, 26633, 2066, 26643, 18457, 18460, 2081, 2082, 26664, 26669, 10291, 18488, 18493, 26687, 10305, 18505, 26700, 18510, 2128, 26711, 26714, 10331, 10333, 10337, 26722, 10339, 2149, 26726, 2152, 26729, 10348, 2158, 10351, 26734, 26736, 26739, 26744, 18554, 18556, 10367, 10369, 2180, 10372, 18567, 26763, 10380, 18576, 2198, 26778, 18587, 18588, 2211, 2212, 18597, 10407, 18600, 26793, 2218, 18603, 10416, 26806, 2231, 18615, 26813, 10432, 2245, 10437, 10439, 10446, 26836, 18645, 2266, 18650, 10464, 26848, 26850, 18665, 18666, 26862, 10479, 26867, 26872, 10492, 2302, 18689, 18693, 10503, 26887, 26893, 10513, 18708, 2337, 26914, 2339, 10531, 18724, 26918, 18732, 2349, 2354, 26931, 18746, 26938, 26939, 2366, 10565, 2374, 26952, 2386, 10578, 18771, 26968, 2399, 10591, 2402, 2403, 10599, 2410, 10604, 26990, 26995, 2421, 2423, 27001, 10618, 2426, 2427, 2429, 27002, 27003, 10628, 27014, 18833, 18834, 2452, 2453, 2454, 2456, 10648, 2460, 2463, 27040, 2466, 27047, 10664, 27049, 2474, 18858, 10668, 2480, 2483, 10675, 18872, 27065, 2497, 18883, 10693, 10697, 27085, 18897, 2515, 2516, 10709, 18907, 10717, 10718, 10721, 2538, 2549, 10741, 27127, 10749, 18941, 18942, 27134, 27137, 2565, 27146, 2571, 10763, 18955, 18960, 2577, 27162, 10780, 18974, 2593, 18977, 27170, 27173, 18982, 10791, 27184, 10801, 27186, 2615, 2617, 19003, 19011, 27208, 27209, 2640, 2641, 27227, 27231, 19046, 19047, 27241, 2666, 19050, 2668, 10861, 2671, 2672, 27251, 19066, 27258, 27259, 19069, 10887, 10889, 2699, 10892, 10894, 2717, 27294, 2719, 10912, 10917, 10920, 2730, 27307, 27308, 2733, 27309, 10929, 2738, 19122, 10932, 27316, 10935, 19128, 19131, 27325, 10945, 10946, 2755, 10948, 10949, 10950, 19137, 27337, 19147, 10961, 10965, 19158, 2784, 27360, 19173, 27369, 2800, 11007, 11012, 2825, 19211, 2828, 27404, 19219, 11030, 19224, 27421, 11044, 2853, 2857, 11054, 2864, 27440, 27444, 27448, 2875, 11069, 2879, 2880, 2881, 27456, 11077, 19269, 19270, 27464, 27468, 27469, 2896, 11088, 2901, 11093, 27481, 27482, 27491, 2917, 27495, 2922, 27505, 2930, 27508, 19318, 2941, 19327, 27522, 19331, 27527, 19336, 2953, 11145, 2957, 19341, 27535, 11155, 11157, 27542, 2967, 2974, 2975, 19362, 19370, 19376, 19377, 11186, 11187, 11193, 27578, 19389, 27583, 3009, 3013, 3014, 3019, 19406, 3024, 11219, 27603, 19421, 19425, 27619, 3044, 27621, 19431, 27625, 3052, 11251, 19447, 3066, 19453, 11271, 19470, 19473, 3092, 11287, 19480, 27674, 3099, 3101, 19488, 11297, 11298, 27685, 19496, 19497, 3114, 11312, 19504, 11315, 27703, 11320, 27706, 19515, 3133, 19517, 19518, 3138, 11336, 19531, 27732, 11358, 3169, 3176, 3177, 3184, 19582, 11391, 3207, 3208, 19593, 3214, 11410, 19602, 3226, 19611, 3229, 11434, 3243, 19630, 3249, 11442, 3250, 11444, 11441, 3260, 3261, 3263, 11456, 3266, 3269, 19653, 11466, 3282, 11475, 3289, 3292, 19680, 19683, 3303, 3319, 19711, 3331, 11524, 11527, 3338, 19730, 19736, 3358, 11551, 19747, 11559, 3368, 11560, 11563, 19763, 3381, 3383, 19768, 11582, 19775, 11593, 19787, 19791, 19793, 3425, 19811, 11627, 11631, 11632, 11640, 11653, 11658, 3468, 19855, 11664, 3474, 19859, 3481, 11677, 19869, 19872, 11686, 3497, 19889, 3511, 19895, 3518, 3521, 3524, 3526, 19912, 19914, 11726, 3543, 3544, 11736, 3550, 3554, 19941, 19943, 19945, 11766, 3582, 3587, 3594, 11797, 19990, 19994, 3612, 11805, 3621, 11813, 20010, 11827, 11833, 20030, 3648, 20032, 3653, 11845, 20040, 20042, 20051, 20053, 20061, 11878, 20070, 20077, 20078, 3698, 11891, 3705, 20098, 3721, 11919, 20114, 11927, 20124, 11934, 3751, 3760, 20152, 20154, 3773, 11965, 20162, 3782, 3784, 11985, 3797, 20184, 11993, 20188, 20189, 20194, 20202, 12012, 20205, 12019, 20219, 12029, 12044, 3853, 3863, 12060, 3869, 3880, 20264, 3890, 20284, 20286, 3908, 3910, 20294, 3920, 12119, 12122, 20314, 12132, 3944, 3945, 3948, 12140, 20332, 12145, 20339, 3958, 20343, 12152, 20349, 20351, 3970, 20363, 3985, 12187, 12188, 4010, 20395, 4014, 12209, 12213, 12221, 4034, 20423, 12232, 20430, 20432, 20440, 4059, 12252, 12253, 20446, 20451, 12263, 4072, 12268, 20460, 4078, 12280, 20472, 20487, 20495, 12307, 20500, 12316, 20511, 4141, 20535, 4154, 12357, 4176, 12368, 4178, 20560, 4180, 20574, 4196, 20589, 12407, 12420, 12431, 20631, 12453, 4262, 12455, 20648, 12457, 20654, 12466, 20662, 20667, 20669, 20672, 12481, 4290, 12482, 12486, 4297, 4308, 20696, 20697, 12507, 20704, 20715, 12527, 4337, 12529, 12532, 12535, 12542, 4351, 12549, 4368, 4371, 20755, 4379, 4380, 4383, 12575, 20767, 20768, 20772, 12583, 20778, 4405, 12597, 20793, 12603, 20797, 20800, 12610, 4425, 4431, 4445, 20833, 4451, 4456, 20847, 20848, 4465, 20849, 4468, 20854, 12664, 4474, 4475, 12676, 20875, 4493, 12688, 20881, 12691, 20883, 12696, 12697, 20901, 20902, 12712, 12713, 20909, 20914, 4541, 12740, 12741, 12743, 12746, 4557, 4560, 12752, 12759, 4568, 4571, 12774, 4584, 20969, 4588, 20976, 4594, 20986, 12797, 4610, 12807, 21001, 21016, 21036, 12852, 21048, 12857, 4668, 12860, 12883, 12884, 12885, 21078, 21079, 4697, 21091, 21094, 4718, 21110, 21124, 21125, 12936, 4745, 21134, 21137, 4765, 21153, 21162, 4784, 12977, 12979, 4792, 21185, 21186, 4807, 4813, 21205, 4823, 4825, 13024, 4842, 4843, 13035, 21229, 13039, 4850, 13047, 13050, 4868, 21253, 13065, 13071, 21266, 13075, 21267, 21268, 13081, 4901, 13093, 4908, 21294, 21298, 21299, 21301, 13111, 21305, 13121, 13125, 4935, 13128, 21324, 13139, 4950, 13143, 21334, 4955, 21339, 13154, 21348, 13160, 21357, 13167, 13174, 13178, 21370, 13181, 4990, 21378, 13188, 21380, 5006, 5008, 5017, 5027, 13225, 5039, 13233, 21425, 13236, 13238, 21430, 21435, 13244, 13257, 21449, 13260, 5075, 21461, 5079, 13273, 5087, 13282, 21480, 21486, 5103, 13298, 13300, 21493, 13303, 21502, 21507, 5125, 21510, 13322, 5133, 21521, 13339, 13340, 21531, 5150, 21550, 5169, 5170, 21554, 13371, 5180, 21563, 5183, 13385, 21580, 13390, 21582, 5208, 21596, 5216, 5223, 5226, 5227, 13435, 5246, 13451, 21645, 21655, 13470, 5282, 21666, 21667, 21670, 5287, 13479, 21673, 13483, 13484, 5293, 13486, 13489, 21682, 5303, 5305, 5311, 5317, 13511, 5323, 21709, 5326, 21711, 5346, 21732, 21737, 21740, 13553, 13556, 13562, 5371, 5373, 5375, 5377, 21766, 21768, 21769, 13580, 13581, 5392, 21778, 5395, 13598, 13604, 5413, 5424, 21811, 5429, 13625, 21818, 13627, 21819, 13630, 13641, 21833, 5451, 5452, 5465, 21849, 5467, 5468, 13673, 5495, 21891, 21892, 13703, 21895, 21898, 5515, 21905, 5540, 13732, 21929, 21935, 5552, 13746, 5561, 5563, 21947, 5565, 13760, 13761, 21953, 13763, 13769, 21962, 5580, 21967, 5591, 5592, 21987, 5610, 5612, 13810, 5619, 13814, 13817, 22016, 5634, 22018, 22029, 5650, 5667, 13871, 5689, 22078, 22082, 5699, 5704, 13900, 5715, 5718, 22111, 22113, 13922, 5736, 5745, 13948, 5757, 13949, 13959, 13963, 5775, 13974, 5785, 13987, 22181, 5807, 22191, 14001, 5812, 14005, 14022, 14023, 14026, 14028, 5837, 14032, 22227, 14037, 14041, 14044, 14045, 14046, 22242, 5862, 5864, 14057, 5868, 14061, 14065, 14067, 5877, 5884, 22269, 22270, 14080, 14084, 14089, 14090, 14091, 14093, 5907, 5910, 22294, 22301, 22305, 5922, 14115, 14119, 14121, 14130, 14135, 22332, 14148, 5958, 14150, 22346, 14159, 14161, 22356, 5973, 14165, 22364, 22366, 14180, 22377, 14189, 22381, 6001, 6003, 14199, 22391, 22392, 14208, 6021, 22405, 6023, 6035, 14231, 22426, 6057, 22442, 22446, 22448, 6066, 14264, 6074, 22461, 22462, 14271, 6081, 22466, 14282, 6091, 6098, 6101, 14294, 14298, 6113, 22504, 22506, 22511, 14321, 22515, 22517, 6135, 6138, 22525, 14343, 22536, 6155, 14351, 14362, 14364, 14365, 14371, 22571, 22573, 22575, 14387, 6196, 6197, 22583, 6201, 14398, 22599, 22608, 22612, 22613, 6230, 14426, 22620, 14430, 14432, 6242, 14442, 22639, 14449, 22641, 6266, 22661, 22663, 14475, 14478, 14481, 14484, 22677, 22679, 14488, 14489, 22689, 6310, 22698, 22722, 22723, 6341, 22726, 6354, 6360, 22745, 6372, 22756, 22761, 14570, 6379, 6380, 6383, 6384, 22770, 14583, 6392, 14590, 6403, 14595, 6407, 14599, 14611, 14613, 22820, 22824, 6442, 14636, 14643, 6461, 14656, 22848, 14659, 14660, 6472, 22862, 22865, 14679, 6488, 6489, 6490, 6495, 6496, 22884, 14702, 14708, 22900, 22904, 6524, 6526, 14724, 22918, 6542, 14735, 6554, 22940, 14752, 14755, 6564, 22950, 22952, 6569, 14766, 22959, 22961, 6578, 22963, 14773, 14779, 6592, 6601, 22989, 14802, 14807, 6621, 14818, 23014, 23022, 23027, 6647, 14843, 23036, 23055, 6676, 6684, 23077, 23078, 23082, 14894, 14900, 23104, 6727, 23112, 6731, 6735, 6740, 6747, 23138, 6767, 14959, 23153, 14962, 14963, 6775, 6776, 14970, 6779, 23163, 6782, 14974, 23167, 23176, 6797, 14999, 23192, 6821, 23208, 15017, 23214, 15023, 23215, 6833, 6838, 15030, 23225, 15034, 23232, 15042, 15045, 15049, 23242, 23244, 23245, 6869, 15061, 23258, 15069, 6884, 6885, 15076, 15078, 23273, 15082, 6894, 6897, 6898, 15089, 23287, 23291, 15107, 6920, 6921, 15112, 23304, 23311, 23316, 15131, 6944, 6952, 23343, 15155, 23353, 23355, 6974, 15167, 15168, 23377, 15187, 23379, 7001, 23387, 15199, 7011, 23395, 7015, 15210, 7021, 23410, 15221, 7037, 15229, 23421, 23428, 7045, 15237, 7050, 7054, 15248, 7059, 7063, 23448, 7066, 15263, 15266, 7077, 15271, 7081, 7082, 23468, 7086, 7087, 15278, 23470, 23472, 23478, 15293, 7102, 23492, 15307, 23500, 23504, 23508, 7131, 15333, 23528, 15337, 7146, 23541, 7165, 15358, 23551, 7179, 15383, 15384, 23575, 23577, 23579, 7198, 15391, 23585, 23588, 23597, 7214, 15418, 7229, 7230, 23615, 15428, 7238, 23622, 15433, 23626, 23627, 23634, 7256, 15449, 23641, 23643, 7266, 7267, 23652, 15461, 23660, 23663, 7283, 15488, 15495, 7310, 7322, 23707, 23715, 15525, 15541, 23733, 7351, 23735, 23749, 7366, 7368, 23753, 15562, 7376, 15568, 23762, 7383, 15575, 23768, 7387, 15591, 23784, 15604, 23798, 15611, 15616, 7426, 7438, 7446, 23830, 23833, 23835, 23838, 15656, 23851, 15665, 23859, 23860, 23866, 7489, 7490, 7493, 7495, 15688, 23881, 15695, 23887, 23891, 15701, 15722, 15723, 7533, 15727, 7539, 15732, 23929, 15738, 7555, 15747, 15753, 23945, 7564, 7567, 7569, 7570, 23953, 7573, 23958, 23962, 7584, 15776, 7586, 15781, 7597, 7601, 23988, 23989, 7606, 7609, 7610, 24001, 15822, 7631, 7632, 24017, 15829, 7639, 24023, 24025, 7646, 24031, 24041, 24046, 24048, 15858, 7670, 24055, 15869, 7686, 24072, 24078, 24083, 24091, 24095, 24096, 15907, 24102, 24105, 7723, 24108, 15919, 7730, 15922, 24115, 7733, 24127, 24133, 15950, 7761, 15965, 15967, 24159, 15987, 15988, 7798, 15993, 24188, 24192, 7810, 16002, 24197, 16006, 16012, 7827, 7832, 16026, 24220, 16038, 24230, 24231, 7849, 7853, 16064, 24262, 24264, 24276, 16086, 24283, 16092, 7901, 16099, 16108, 7923, 7927, 16120, 24315, 7932, 24326, 7949, 24333, 7952, 24345, 7963, 7964, 7967, 7969, 16162, 16168, 24365, 24371, 16182, 7993, 24379, 16191, 24391, 8012, 16206, 16207, 24399, 8017, 24400, 8023, 24411, 24422, 24423, 8047, 16243, 8052, 24436, 16251, 24447, 16257, 24453, 16282, 24475, 24485, 8105, 8114, 16308, 24500, 16310, 16316, 24508, 24511, 24515, 16325, 24524, 8145, 8148, 8150, 24534, 16348, 8157, 16370, 16374, 8183, 16376, 8186, 16382}
0 set()
0 set()
0 set()
0 set()

In [139]:
mask1=test['user_id'].isin(list(user_diff))
test = test[~mask1].reset_index()
print(test.shape)

x= test['user_id'].value_counts()
print(x)
print(x[x==1].shape)

(8121, 12)
27150    5
11096    4
13162    4
11094    4
5614     4
        ..
27679    1
17046    1
20984    1
24358    1
2513     1
Name: user_id, Length: 7198, dtype: int64
(6369,)

In [140]:
print(train['user_id'].nunique(),test['user_id'].nunique())
print(train['category_id'].nunique(),test['category_id'].nunique())
print(train['video_id'].nunique(),test['video_id'].nunique())
print(train['followers'].nunique(),test['followers'].nunique())
print(train['views'].nunique(),test['views'].nunique())
print(train['engagement_score'].nunique(),test['engagement_score'].nunique())

25400 7198
47 46
175 173
17 17
43 42
229 229

In [141]:
test_target = test['engagement_score'].copy()
del test['engagement_score']

In [142]:
user_diff = set(test['user_id'].values).difference(set(train['user_id'].values))
print(len(user_diff),user_diff)

0 set()

In [143]:
print(train.shape)
print(test.shape)

(75866, 12)
(8121, 11)

In [148]:
def ordinal_dummy_coding(data,cols):
    data_updated = data.copy()
    for col in cols:
        enc_unique = np.sort(data[col].unique())
        start_enc = enc_unique[0]
        data_updated = pd.get_dummies(data_updated,columns = [col], prefix=[col])
        print('after_dummy_update:',data_updated.columns)
        for enc_val in enc_unique:
            #remove 1st dummy variable since it will become constant value
            #as all higher values of 1 will always update it to 1

            dummy_col = col+'_'+str(enc_val)
            if enc_val==start_enc:
                del data_updated[dummy_col]
                continue
                
            mask = data_updated[dummy_col]==1
            for prior_enc in range(start_enc+1,enc_val):
                prior_dummy_col = col+'_'+str(prior_enc)
                data_updated[prior_dummy_col][mask] = 1
            
    return data_updated

In [149]:
print(np.sort(train['views'].unique()))
print(np.sort(test['views'].unique()))

[  30   44   52   72   89   95  134  138  156  178  180  229  248  309
  317  362  369  396  414  444  462  467  568  613  617  621  628  636
  662  689  709  714  781  806  819  840  862  884  892  900  909  990
 1000]
[  30   44   52   72   89   95  134  138  156  178  180  229  248  309
  317  362  369  396  414  444  462  467  568  613  617  621  628  636
  662  689  709  714  781  806  819  840  862  884  900  909  990 1000]

In [150]:
# keys = np.sort(train['followers'].unique())
# values = range(train['followers'].nunique())
# followers_map = dict(zip(keys, values))
# print(followers_map)

In [151]:
# train['istrain']=1
# test['istrain']=0

# combined = pd.concat([train,test],axis=0)

In [152]:
# combined['followers'] = combined['followers'].replace(followers_map)
# combined= ordinal_dummy_coding(combined,['followers'])

In [153]:
# train= combined[combined['istrain']==1]
# test= combined[combined['istrain']==0]

# del combined,train['istrain'],test['istrain']

In [154]:
print(train.columns)
print(test.columns)

Index(['level_0', 'index', 'row_id', 'user_id', 'category_id', 'video_id',
       'age', 'gender', 'profession', 'followers', 'views',
       'engagement_score'],
      dtype='object')
Index(['level_0', 'index', 'row_id', 'user_id', 'category_id', 'video_id',
       'age', 'gender', 'profession', 'followers', 'views'],
      dtype='object')

In [155]:
def preproc(train,test):
    label_encoder = LabelEncoder()

    train['gender']= label_encoder.fit_transform(train['gender'])
    test['gender']= label_encoder.transform(test['gender'])
    
    #ordinal encoding of profession
    prof_map = {'Other':0,'Student':1,'Working Professional':2}
    train['profession'] = train['profession'].map(prof_map)
    test['profession'] = test['profession'].map(prof_map)
    
    #to have video id without target encoding
    train['video_id_raw']=train['video_id'].copy()
    
def gen_agg(train,test):
    #user_id aggregate features
    user_agg = train[['user_id','video_id','category_id']].groupby('user_id').agg('nunique').reset_index()
    user_agg = user_agg.rename({'video_id':'user_video_count','category_id':'user_category_count'},axis=1)
    train = pd.merge(train, user_agg, how='left', on='user_id')
    test = pd.merge(test, user_agg, how='left', on='user_id')
    
    
    #category_id aggregate features
    cat_agg = train[['category_id','user_id','video_id','age','gender','profession']] \
                        .groupby('category_id') \
                        .agg({'user_id':'nunique','video_id':'nunique', \
                             'age':'mean','gender':'mean','profession':'mean'}) \
                        .reset_index()
    cat_agg = cat_agg.rename({'user_id':'category_user_count',
                              'video_id':'category_video_count',
                              'age':'category_age_mean',
                              'gender':'category_gender_mean',
                              'profession':'category_profession_mean',
                             }, axis=1)
    train = pd.merge(train, cat_agg, how='left', on='category_id')
    test = pd.merge(test, cat_agg, how='left', on='category_id')    
    
    #video_id aggregate features
    video_agg = train[['video_id','age','gender','profession']] \
                        .groupby('video_id') \
                        .agg('mean') \
                        .reset_index() 
    video_agg = video_agg.rename({'age':'video_age_mean',
                              'gender':'video_gender_mean',
                              'profession':'video_profession_mean',
                             },axis=1)
    train = pd.merge(train, video_agg, how='left', on='video_id')
    test = pd.merge(test, video_agg, how='left', on='video_id')
    
    return train,test

In [156]:
preproc(train,test)

In [157]:
train,test = gen_agg(train,test)

In [158]:
print(train.columns)
train.head()

Index(['level_0', 'index', 'row_id', 'user_id', 'category_id', 'video_id',
       'age', 'gender', 'profession', 'followers', 'views', 'engagement_score',
       'video_id_raw', 'user_video_count', 'user_category_count',
       'category_user_count', 'category_video_count', 'category_age_mean',
       'category_gender_mean', 'category_profession_mean', 'video_age_mean',
       'video_gender_mean', 'video_profession_mean'],
      dtype='object')

,level_0,index,row_id,user_id,category_id,video_id,age,gender,profession,followers,views,engagement_score,video_id_raw,user_video_count,user_category_count,category_user_count,category_video_count,category_age_mean,category_gender_mean,category_profession_mean,video_age_mean,video_gender_mean,video_profession_mean
0,0,11150,11151,7939,8,17,15,1,1,280,628,4.77,17,2,1,2784,10,24.577807,0.611993,0.895946,25.179487,0.688363,0.954635
1,1,11151,11152,18620,21,122,17,1,1,320,909,3.73,122,3,2,2246,8,24.810670,0.589156,0.893012,24.950884,0.601179,0.905697
2,2,11152,11153,23392,17,37,19,0,1,210,884,2.70,37,3,2,661,2,25.022417,0.400585,0.948343,25.207031,0.388672,0.943359
3,4,11154,11155,17507,3,4,19,0,1,270,621,3.80,4,4,2,1204,2,25.457286,0.601759,0.895729,25.373300,0.592089,0.907293
4,5,11155,11156,6545,3,5,14,1,1,270,621,4.89,5,3,2,1204,2,25.457286,0.601759,0.895729,25.544061,0.611750,0.883780

In [159]:
print(np.sort(train['age'].unique()))
print(np.sort(train['followers'].unique()))
print(np.sort(train['views'].unique()))
print(np.sort(train['user_video_count'].unique())) 
print(np.sort(train['user_category_count'].unique()))#no bin
print(np.sort(train['category_user_count'].unique()))
print(np.sort(train['category_video_count'].unique()))

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57
 58 59 60 61 62 63 64 66 67 68]
[160 180 190 200 210 220 230 240 250 260 270 280 290 320 330 340 360]
[  30   44   52   72   89   95  134  138  156  178  180  229  248  309
  317  362  369  396  414  444  462  467  568  613  617  621  628  636
  662  689  709  714  781  806  819  840  862  884  892  900  909  990
 1000]
[ 2  3  4  5  6  7  8  9 10]
[1 2 3]
[  41  108  114  145  200  269  316  336  347  400  438  459  469  471
  503  572  580  585  619  657  661  716  717  790  868  882  939  942
  968  983 1143 1204 1225 1254 1416 1429 1499 1572 1585 1594 1615 1634
 2126 2156 2246 2511 2784]
[ 1  2  3  4  5  6  7  8 10 31]

In [160]:
def create_bins(combined):
    combined['age_bin']=pd.cut(combined.age,
                               bins=[9,18,25,31,36,41,51,60,70],
                                     labels = [1,2,3,4,5,6,7,8])
    print('age_bin:',combined['age_bin'].unique())
    combined['followers_bin']=pd.cut(combined.followers,
                                     bins=[159,200,240,270,290,360],
                                     labels = [1,2,3,4,5]
                                    )
    print('followers_bin:',combined['followers_bin'].unique())
    
    combined['views_bin']=pd.cut(combined.views,
                                     bins=[29,72,138,248,467,662,840,1000],
                                     labels = [1,2,3,4,5,6,7]
                                )
    print('views_bin:',combined['views_bin'].unique())   
    
    combined['category_user_count_bin']=pd.qcut(combined.category_user_count,[0, 0.15, .25, .5, .7, 0.8, 0.9, 1.],
                                         labels = [1,2,3,4,5,6,7])
    print('category_user_count_bin:',combined['category_user_count_bin'].unique())

    combined['user_video_count_bin']=pd.cut(combined.user_video_count,
                                     bins=[1,2,5,7,9,10],
                                     labels = [1,2,3,4,5]
                                           )
    print('user_video_count_bin:',combined['user_video_count_bin'].unique())   

    combined['category_video_count_bin']=pd.cut(combined.category_video_count,
                                     bins=[0,1,2,4,6,8,10,31],
                                     labels = [1,2,3,4,5,6,7])
    print('category_video_count_bin:',combined['category_video_count_bin'].unique())

In [161]:
train['istrain']=1
test['istrain']=0

combined = pd.concat([train,test],axis=0)

In [162]:
create_bins(combined)

age_bin: [1, 2, 3, 4, 5, 6, 7, 8]
Categories (8, int64): [1 < 2 < 3 < 4 < 5 < 6 < 7 < 8]
followers_bin: [4, 5, 2, 3, 1]
Categories (5, int64): [1 < 2 < 3 < 4 < 5]
views_bin: [5, 7, 6, 4, 1, 2, 3]
Categories (7, int64): [1 < 2 < 3 < 4 < 5 < 6 < 7]
category_user_count_bin: [7, 5, 1, 3, 4, 2, 6]
Categories (7, int64): [1 < 2 < 3 < 4 < 5 < 6 < 7]
user_video_count_bin: [1, 2, 3, 4, 5]
Categories (5, int64): [1 < 2 < 3 < 4 < 5]
category_video_count_bin: [6, 5, 2, 4, 3, 1, 7]
Categories (7, int64): [1 < 2 < 3 < 4 < 5 < 6 < 7]

In [163]:
combined= ordinal_dummy_coding(combined,['age_bin'])
combined= ordinal_dummy_coding(combined,['followers_bin'])
combined= ordinal_dummy_coding(combined,['views_bin'])
combined= ordinal_dummy_coding(combined,['category_user_count_bin'])
combined= ordinal_dummy_coding(combined,['user_video_count_bin'])
combined= ordinal_dummy_coding(combined,['category_video_count_bin'])

combined= ordinal_dummy_coding(combined,['profession'])#without bin
combined= ordinal_dummy_coding(combined,['user_category_count'])#without bin

after_dummy_update: Index(['level_0', 'index', 'row_id', 'user_id', 'category_id', 'video_id',
       'age', 'gender', 'profession', 'followers', 'views', 'engagement_score',
       'video_id_raw', 'user_video_count', 'user_category_count',
       'category_user_count', 'category_video_count', 'category_age_mean',
       'category_gender_mean', 'category_profession_mean', 'video_age_mean',
       'video_gender_mean', 'video_profession_mean', 'istrain',
       'followers_bin', 'views_bin', 'category_user_count_bin',
       'user_video_count_bin', 'category_video_count_bin', 'age_bin_1',
       'age_bin_2', 'age_bin_3', 'age_bin_4', 'age_bin_5', 'age_bin_6',
       'age_bin_7', 'age_bin_8'],
      dtype='object')
after_dummy_update: Index(['level_0', 'index', 'row_id', 'user_id', 'category_id', 'video_id',
       'age', 'gender', 'profession', 'followers', 'views', 'engagement_score',
       'video_id_raw', 'user_video_count', 'user_category_count',
       'category_user_count', 'category_video_count', 'category_age_mean',
       'category_gender_mean', 'category_profession_mean', 'video_age_mean',
       'video_gender_mean', 'video_profession_mean', 'istrain', 'views_bin',
       'category_user_count_bin', 'user_video_count_bin',
       'category_video_count_bin', 'age_bin_2', 'age_bin_3', 'age_bin_4',
       'age_bin_5', 'age_bin_6', 'age_bin_7', 'age_bin_8', 'followers_bin_1',
       'followers_bin_2', 'followers_bin_3', 'followers_bin_4',
       'followers_bin_5'],
      dtype='object')
after_dummy_update: Index(['level_0', 'index', 'row_id', 'user_id', 'category_id', 'video_id',
       'age', 'gender', 'profession', 'followers', 'views', 'engagement_score',
       'video_id_raw', 'user_video_count', 'user_category_count',
       'category_user_count', 'category_video_count', 'category_age_mean',
       'category_gender_mean', 'category_profession_mean', 'video_age_mean',
       'video_gender_mean', 'video_profession_mean', 'istrain',
       'category_user_count_bin', 'user_video_count_bin',
       'category_video_count_bin', 'age_bin_2', 'age_bin_3', 'age_bin_4',
       'age_bin_5', 'age_bin_6', 'age_bin_7', 'age_bin_8', 'followers_bin_2',
       'followers_bin_3', 'followers_bin_4', 'followers_bin_5', 'views_bin_1',
       'views_bin_2', 'views_bin_3', 'views_bin_4', 'views_bin_5',
       'views_bin_6', 'views_bin_7'],
      dtype='object')
after_dummy_update: Index(['level_0', 'index', 'row_id', 'user_id', 'category_id', 'video_id',
       'age', 'gender', 'profession', 'followers', 'views', 'engagement_score',
       'video_id_raw', 'user_video_count', 'user_category_count',
       'category_user_count', 'category_video_count', 'category_age_mean',
       'category_gender_mean', 'category_profession_mean', 'video_age_mean',
       'video_gender_mean', 'video_profession_mean', 'istrain',
       'user_video_count_bin', 'category_video_count_bin', 'age_bin_2',
       'age_bin_3', 'age_bin_4', 'age_bin_5', 'age_bin_6', 'age_bin_7',
       'age_bin_8', 'followers_bin_2', 'followers_bin_3', 'followers_bin_4',
       'followers_bin_5', 'views_bin_2', 'views_bin_3', 'views_bin_4',
       'views_bin_5', 'views_bin_6', 'views_bin_7',
       'category_user_count_bin_1', 'category_user_count_bin_2',
       'category_user_count_bin_3', 'category_user_count_bin_4',
       'category_user_count_bin_5', 'category_user_count_bin_6',
       'category_user_count_bin_7'],
      dtype='object')
after_dummy_update: Index(['level_0', 'index', 'row_id', 'user_id', 'category_id', 'video_id',
       'age', 'gender', 'profession', 'followers', 'views', 'engagement_score',
       'video_id_raw', 'user_video_count', 'user_category_count',
       'category_user_count', 'category_video_count', 'category_age_mean',
       'category_gender_mean', 'category_profession_mean', 'video_age_mean',
       'video_gender_mean', 'video_profession_mean', 'istrain',
       'category_video_count_bin', 'age_bin_2', 'age_bin_3', 'age_bin_4',
       'age_bin_5', 'age_bin_6', 'age_bin_7', 'age_bin_8', 'followers_bin_2',
       'followers_bin_3', 'followers_bin_4', 'followers_bin_5', 'views_bin_2',
       'views_bin_3', 'views_bin_4', 'views_bin_5', 'views_bin_6',
       'views_bin_7', 'category_user_count_bin_2', 'category_user_count_bin_3',
       'category_user_count_bin_4', 'category_user_count_bin_5',
       'category_user_count_bin_6', 'category_user_count_bin_7',
       'user_video_count_bin_1', 'user_video_count_bin_2',
       'user_video_count_bin_3', 'user_video_count_bin_4',
       'user_video_count_bin_5'],
      dtype='object')
after_dummy_update: Index(['level_0', 'index', 'row_id', 'user_id', 'category_id', 'video_id',
       'age', 'gender', 'profession', 'followers', 'views', 'engagement_score',
       'video_id_raw', 'user_video_count', 'user_category_count',
       'category_user_count', 'category_video_count', 'category_age_mean',
       'category_gender_mean', 'category_profession_mean', 'video_age_mean',
       'video_gender_mean', 'video_profession_mean', 'istrain', 'age_bin_2',
       'age_bin_3', 'age_bin_4', 'age_bin_5', 'age_bin_6', 'age_bin_7',
       'age_bin_8', 'followers_bin_2', 'followers_bin_3', 'followers_bin_4',
       'followers_bin_5', 'views_bin_2', 'views_bin_3', 'views_bin_4',
       'views_bin_5', 'views_bin_6', 'views_bin_7',
       'category_user_count_bin_2', 'category_user_count_bin_3',
       'category_user_count_bin_4', 'category_user_count_bin_5',
       'category_user_count_bin_6', 'category_user_count_bin_7',
       'user_video_count_bin_2', 'user_video_count_bin_3',
       'user_video_count_bin_4', 'user_video_count_bin_5',
       'category_video_count_bin_1', 'category_video_count_bin_2',
       'category_video_count_bin_3', 'category_video_count_bin_4',
       'category_video_count_bin_5', 'category_video_count_bin_6',
       'category_video_count_bin_7'],
      dtype='object')
after_dummy_update: Index(['level_0', 'index', 'row_id', 'user_id', 'category_id', 'video_id',
       'age', 'gender', 'followers', 'views', 'engagement_score',
       'video_id_raw', 'user_video_count', 'user_category_count',
       'category_user_count', 'category_video_count', 'category_age_mean',
       'category_gender_mean', 'category_profession_mean', 'video_age_mean',
       'video_gender_mean', 'video_profession_mean', 'istrain', 'age_bin_2',
       'age_bin_3', 'age_bin_4', 'age_bin_5', 'age_bin_6', 'age_bin_7',
       'age_bin_8', 'followers_bin_2', 'followers_bin_3', 'followers_bin_4',
       'followers_bin_5', 'views_bin_2', 'views_bin_3', 'views_bin_4',
       'views_bin_5', 'views_bin_6', 'views_bin_7',
       'category_user_count_bin_2', 'category_user_count_bin_3',
       'category_user_count_bin_4', 'category_user_count_bin_5',
       'category_user_count_bin_6', 'category_user_count_bin_7',
       'user_video_count_bin_2', 'user_video_count_bin_3',
       'user_video_count_bin_4', 'user_video_count_bin_5',
       'category_video_count_bin_2', 'category_video_count_bin_3',
       'category_video_count_bin_4', 'category_video_count_bin_5',
       'category_video_count_bin_6', 'category_video_count_bin_7',
       'profession_0', 'profession_1', 'profession_2'],
      dtype='object')
after_dummy_update: Index(['level_0', 'index', 'row_id', 'user_id', 'category_id', 'video_id',
       'age', 'gender', 'followers', 'views', 'engagement_score',
       'video_id_raw', 'user_video_count', 'category_user_count',
       'category_video_count', 'category_age_mean', 'category_gender_mean',
       'category_profession_mean', 'video_age_mean', 'video_gender_mean',
       'video_profession_mean', 'istrain', 'age_bin_2', 'age_bin_3',
       'age_bin_4', 'age_bin_5', 'age_bin_6', 'age_bin_7', 'age_bin_8',
       'followers_bin_2', 'followers_bin_3', 'followers_bin_4',
       'followers_bin_5', 'views_bin_2', 'views_bin_3', 'views_bin_4',
       'views_bin_5', 'views_bin_6', 'views_bin_7',
       'category_user_count_bin_2', 'category_user_count_bin_3',
       'category_user_count_bin_4', 'category_user_count_bin_5',
       'category_user_count_bin_6', 'category_user_count_bin_7',
       'user_video_count_bin_2', 'user_video_count_bin_3',
       'user_video_count_bin_4', 'user_video_count_bin_5',
       'category_video_count_bin_2', 'category_video_count_bin_3',
       'category_video_count_bin_4', 'category_video_count_bin_5',
       'category_video_count_bin_6', 'category_video_count_bin_7',
       'profession_1', 'profession_2', 'user_category_count_1',
       'user_category_count_2', 'user_category_count_3'],
      dtype='object')

In [164]:
print(len(combined.columns))
print(combined.columns)

59
Index(['level_0', 'index', 'row_id', 'user_id', 'category_id', 'video_id',
       'age', 'gender', 'followers', 'views', 'engagement_score',
       'video_id_raw', 'user_video_count', 'category_user_count',
       'category_video_count', 'category_age_mean', 'category_gender_mean',
       'category_profession_mean', 'video_age_mean', 'video_gender_mean',
       'video_profession_mean', 'istrain', 'age_bin_2', 'age_bin_3',
       'age_bin_4', 'age_bin_5', 'age_bin_6', 'age_bin_7', 'age_bin_8',
       'followers_bin_2', 'followers_bin_3', 'followers_bin_4',
       'followers_bin_5', 'views_bin_2', 'views_bin_3', 'views_bin_4',
       'views_bin_5', 'views_bin_6', 'views_bin_7',
       'category_user_count_bin_2', 'category_user_count_bin_3',
       'category_user_count_bin_4', 'category_user_count_bin_5',
       'category_user_count_bin_6', 'category_user_count_bin_7',
       'user_video_count_bin_2', 'user_video_count_bin_3',
       'user_video_count_bin_4', 'user_video_count_bin_5',
       'category_video_count_bin_2', 'category_video_count_bin_3',
       'category_video_count_bin_4', 'category_video_count_bin_5',
       'category_video_count_bin_6', 'category_video_count_bin_7',
       'profession_1', 'profession_2', 'user_category_count_2',
       'user_category_count_3'],
      dtype='object')

In [165]:
train= combined[combined['istrain']==1]
test= combined[combined['istrain']==0]

del combined,train['istrain'],test['istrain']

In [166]:
#remaining non bin columns 
#'user_id','category_id', 'video_id',  'gender'

In [167]:
targetcol = 'engagement_score'
target = train[targetcol]

In [168]:
actual_list = list(np.sort(train[targetcol].unique()))
unique_count  = train[targetcol].nunique()
replace_list  = range(1,unique_count+1)

keys = np.sort(train[targetcol].unique())
values = range(train[targetcol].nunique())
targetcol_map = dict(zip(keys, values))
# print(targetcol_map) 

targetcolbin  = targetcol+'_bin'
train[targetcolbin] = train[targetcol].replace(targetcol_map)
print(train[targetcolbin].unique())
train[[targetcol,targetcolbin]].head(25)

[208. 102.  40. 109. 218.  77.  11. 154. 114.  48. 117.  97. 157. 106.
 120.  76.   0.  21. 129. 160.   9.  27. 180. 171.  67. 214. 115. 201.
 149.  19.  18. 136.  37. 147. 125.  53. 140. 217.  57.  24.  99.  33.
  59. 151. 124.  31.  93.  17. 131.  60. 101. 177.  87. 144. 219.  69.
 184.  25. 163.  44.  90.  91.  65.  63.  20.  96.  75. 132.  68.  30.
  35.  83.  70. 224.  13. 100.  10.  28.  73. 112. 116.  62.  34.  43.
 121.  47. 197.  23. 103.  42. 123.  82. 167.  58. 220. 165.  26.  85.
 127.  86. 195. 221. 156. 216.  92. 105.  29.  94. 194. 200. 126.  55.
 168. 148.  98.  32. 179. 139. 178. 228. 199.  88.  95.   7.  84. 146.
   6. 118. 152. 187. 172. 138.  81. 110. 181. 202.  50. 133. 205. 137.
  38.   5.  80.  22.  78.  66.  16.  12. 113. 122. 119. 191.  74. 190.
  79. 134. 107.  15. 226.  61.  56.  51. 128.  39. 145. 143.  52.  36.
  89. 142. 183. 198.  72. 161. 206.  54. 169.  46.  71. 158.  49.   8.
 210. 204.   2. 193. 162. 176. 155. 150. 175. 186. 222. 130. 203. 227.
 173. 104. 189. 215.   4. 164. 185. 213. 170. 223. 182.  41. 111. 211.
 108.  14. 212. 207.  45. 225.   3. 209. 166. 174. 135.  64.   1. 159.
 192. 196. 153. 141. 188.]

    engagement_score  engagement_score_bin
0               4.77                 208.0
1               3.73                 102.0
2               2.70                  40.0
3               3.80                 109.0
4               4.89                 218.0
5               3.40                  77.0
6               1.39                  11.0
7               4.27                 154.0
8               3.85                 114.0
9               2.89                  48.0
10              3.90                 117.0
11              3.66                  97.0
12              4.29                 157.0
13              3.77                 106.0
14              3.93                 120.0
15              3.40                  76.0
16              0.00                   0.0
17              2.70                  40.0
18              2.06                  21.0
19              4.04                 129.0
20              4.31                 160.0
21              1.15                   9.0
22              2.30                  27.0
23              4.48                 180.0
24              3.85                 114.0

In [169]:
train['video_id_orig']=train['video_id'].copy()
train['category_id_orig']=train['category_id'].copy()
train['user_id_orig']=train['user_id'].copy()

In [170]:
bin_cols =['age_bin','followers_bin','views_bin','category_user_count_bin',
           'user_video_count_bin','category_video_count_bin',]
remaining_cols = ['user_id','video_id','gender','category_id',
                 'profession_1', 'profession_2', 'user_category_count_2',
       'user_category_count_3']
orig_cols = ['user_id_orig','video_id_orig','category_id_orig']
# features_for_knn=bin_cols + remaining_cols + [targetcol]

features_for_knn=[]
for col in train.columns:
    for bin_col in bin_cols:
        if bin_col in col:
            features_for_knn+=[col]
features_for_knn +=   remaining_cols + orig_cols + [targetcol]          
print(features_for_knn)

['age_bin_2', 'age_bin_3', 'age_bin_4', 'age_bin_5', 'age_bin_6', 'age_bin_7', 'age_bin_8', 'followers_bin_2', 'followers_bin_3', 'followers_bin_4', 'followers_bin_5', 'views_bin_2', 'views_bin_3', 'views_bin_4', 'views_bin_5', 'views_bin_6', 'views_bin_7', 'category_user_count_bin_2', 'category_user_count_bin_3', 'category_user_count_bin_4', 'category_user_count_bin_5', 'category_user_count_bin_6', 'category_user_count_bin_7', 'user_video_count_bin_2', 'user_video_count_bin_3', 'user_video_count_bin_4', 'user_video_count_bin_5', 'category_video_count_bin_2', 'category_video_count_bin_3', 'category_video_count_bin_4', 'category_video_count_bin_5', 'category_video_count_bin_6', 'category_video_count_bin_7', 'user_id', 'video_id', 'gender', 'category_id', 'profession_1', 'profession_2', 'user_category_count_2', 'user_category_count_3', 'user_id_orig', 'video_id_orig', 'category_id_orig', 'engagement_score']

In [171]:
exclude_cols =['row_id', 'category_age_mean', 'category_gender_mean',
       'category_profession_mean',  'video_gender_mean',
       'video_profession_mean','video_id_raw',
            'video_age_mean',
        'video_age_ratio', 'video_profession_diff', 
        'video_profession_ratio', 'video_gender_diff', 'video_gender_ratio']
features =[col for col in train.columns if col not in exclude_cols]
print(len(features))
print(features)
features_excl_target = [col for col in features if col!=targetcol]

54
['level_0', 'index', 'user_id', 'category_id', 'video_id', 'age', 'gender', 'followers', 'views', 'engagement_score', 'user_video_count', 'category_user_count', 'category_video_count', 'age_bin_2', 'age_bin_3', 'age_bin_4', 'age_bin_5', 'age_bin_6', 'age_bin_7', 'age_bin_8', 'followers_bin_2', 'followers_bin_3', 'followers_bin_4', 'followers_bin_5', 'views_bin_2', 'views_bin_3', 'views_bin_4', 'views_bin_5', 'views_bin_6', 'views_bin_7', 'category_user_count_bin_2', 'category_user_count_bin_3', 'category_user_count_bin_4', 'category_user_count_bin_5', 'category_user_count_bin_6', 'category_user_count_bin_7', 'user_video_count_bin_2', 'user_video_count_bin_3', 'user_video_count_bin_4', 'user_video_count_bin_5', 'category_video_count_bin_2', 'category_video_count_bin_3', 'category_video_count_bin_4', 'category_video_count_bin_5', 'category_video_count_bin_6', 'category_video_count_bin_7', 'profession_1', 'profession_2', 'user_category_count_2', 'user_category_count_3', 'engagement_score_bin', 'video_id_orig', 'category_id_orig', 'user_id_orig']

In [172]:
catcols = []
numeric_cols = [col for col in features if col not in catcols+[targetcol]]
print(len(catcols))
print(catcols)
print(len(numeric_cols))
print(numeric_cols)

0
[]
53
['level_0', 'index', 'user_id', 'category_id', 'video_id', 'age', 'gender', 'followers', 'views', 'user_video_count', 'category_user_count', 'category_video_count', 'age_bin_2', 'age_bin_3', 'age_bin_4', 'age_bin_5', 'age_bin_6', 'age_bin_7', 'age_bin_8', 'followers_bin_2', 'followers_bin_3', 'followers_bin_4', 'followers_bin_5', 'views_bin_2', 'views_bin_3', 'views_bin_4', 'views_bin_5', 'views_bin_6', 'views_bin_7', 'category_user_count_bin_2', 'category_user_count_bin_3', 'category_user_count_bin_4', 'category_user_count_bin_5', 'category_user_count_bin_6', 'category_user_count_bin_7', 'user_video_count_bin_2', 'user_video_count_bin_3', 'user_video_count_bin_4', 'user_video_count_bin_5', 'category_video_count_bin_2', 'category_video_count_bin_3', 'category_video_count_bin_4', 'category_video_count_bin_5', 'category_video_count_bin_6', 'category_video_count_bin_7', 'profession_1', 'profession_2', 'user_category_count_2', 'user_category_count_3', 'engagement_score_bin', 'video_id_orig', 'category_id_orig', 'user_id_orig']

In [173]:
train.to_csv('train_preproc_knn.csv',index=False)
test.to_csv('test_preproc_knn.csv',index=False)

In [174]:
np.save('features_for_knn.npy', np.array(features_for_knn))

In [175]:
from category_encoders.helmert import HelmertEncoder
from category_encoders.cat_boost import CatBoostEncoder
from category_encoders.woe import WOEEncoder

In [176]:

ct = ColumnTransformer(
     [
         ("targetenc",  TargetEncoder(cols=['user_id','category_id', 'video_id'],
                                                min_samples_leaf=2, smoothing=0.1) , ['user_id','category_id', 'video_id']),
#       ("helmertenc",  HelmertEncoder() , ['followers']),
#     ("targetenc2",  TargetEncoder(cols=['followers'],
#                                                     min_samples_leaf=2, smoothing=0.1) , ['followers']),
#       ("rank",  FunctionTransformer(lambda x: x*10000) , ['followers']),
      ],remainder='passthrough')
# user_id_copy = ('user',FunctionTransformer(lambda x: x['user_id'].copy()))
# ct2 = ColumnTransformer(
#      [("rank",  FunctionTransformer(lambda x: x.rank()) , ['followers'])
#       ],remainder='passthrough')
# FeatureUnion([user_id_copy,ct])
preprocessor = ('preproc',ct)

In [204]:
min_samples_leaf=1
count =2
smoothing=0.1
prop = 1 / (1 + np.exp(-(count - min_samples_leaf) / smoothing))
print(prop)

0.9999546021312976

In [177]:
train[features_for_knn].head()

,age_bin_2,age_bin_3,age_bin_4,age_bin_5,age_bin_6,age_bin_7,age_bin_8,followers_bin_2,followers_bin_3,followers_bin_4,followers_bin_5,views_bin_2,views_bin_3,views_bin_4,views_bin_5,views_bin_6,views_bin_7,category_user_count_bin_2,category_user_count_bin_3,category_user_count_bin_4,category_user_count_bin_5,category_user_count_bin_6,category_user_count_bin_7,user_video_count_bin_2,user_video_count_bin_3,user_video_count_bin_4,user_video_count_bin_5,category_video_count_bin_2,category_video_count_bin_3,category_video_count_bin_4,category_video_count_bin_5,category_video_count_bin_6,category_video_count_bin_7,user_id,video_id,gender,category_id,profession_1,profession_2,user_category_count_2,user_category_count_3,user_id_orig,video_id_orig,category_id_orig,engagement_score
0,0,0,0,0,0,0,0,1,1,1,0,1,1,1,1,0,0,1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,0,7939,17,1,8,1,0,0,0,7939,17,8,4.77
1,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1,0,0,0,1,1,1,1,0,0,18620,122,1,21,1,0,1,0,18620,122,21,3.73
2,1,0,0,0,0,0,0,1,0,0,0,1,1,1,1,1,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,23392,37,0,17,1,0,1,0,23392,37,17,2.70
3,1,0,0,0,0,0,0,1,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,17507,4,0,3,1,0,1,0,17507,4,3,3.80
4,0,0,0,0,0,0,0,1,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,6545,5,1,3,1,0,1,0,6545,5,3,4.89

In [205]:
s = setup(train[features_for_knn], session_id=100,
          silent=True,
#           numeric_features=numeric_cols,
#           categorical_features=catcols,
          target = targetcol,
          normalize=True,
          custom_pipeline=preprocessor,
          fold=10,fold_shuffle=False,
          use_gpu=True,
          remove_perfect_collinearity=False,
          )

In [206]:
import pickle
fold_gen = get_config('fold_generator')
indices=[]
indicesfile = open('knn_kfold_gen', 'ab')
pickle.dump(fold_gen, indicesfile)                     
indicesfile.close()

In [207]:
# for reading also binary mode is important
dbfile = open('knn_kfold_gen', 'rb')     
result = pickle.load(dbfile)
for (train_index,test_index) in result.split(train):
    print('train index:',train_index)
    print('test index:',test_index)
dbfile.close()

train index: [ 7587  7588  7589 ... 75863 75864 75865]
test index: [   0    1    2 ... 7584 7585 7586]
train index: [    0     1     2 ... 75863 75864 75865]
test index: [ 7587  7588  7589 ... 15171 15172 15173]
train index: [    0     1     2 ... 75863 75864 75865]
test index: [15174 15175 15176 ... 22758 22759 22760]
train index: [    0     1     2 ... 75863 75864 75865]
test index: [22761 22762 22763 ... 30345 30346 30347]
train index: [    0     1     2 ... 75863 75864 75865]
test index: [30348 30349 30350 ... 37932 37933 37934]
train index: [    0     1     2 ... 75863 75864 75865]
test index: [37935 37936 37937 ... 45519 45520 45521]
train index: [    0     1     2 ... 75863 75864 75865]
test index: [45522 45523 45524 ... 53105 53106 53107]
train index: [    0     1     2 ... 75863 75864 75865]
test index: [53108 53109 53110 ... 60691 60692 60693]
train index: [    0     1     2 ... 75863 75864 75865]
test index: [60694 60695 60696 ... 68277 68278 68279]
train index: [    0     1     2 ... 68277 68278 68279]
test index: [68280 68281 68282 ... 75863 75864 75865]

In [208]:
X= get_config('X')
print(len(X.columns))
print(list(X.columns))
X.head()

45
['age_bin_2', 'age_bin_3', 'age_bin_4', 'age_bin_5', 'age_bin_6', 'age_bin_7', 'age_bin_8', 'followers_bin_2', 'followers_bin_3', 'followers_bin_4', 'followers_bin_5', 'views_bin_2', 'views_bin_3', 'views_bin_4', 'views_bin_5', 'views_bin_6', 'views_bin_7', 'category_user_count_bin_2', 'category_user_count_bin_3', 'category_user_count_bin_4', 'category_user_count_bin_5', 'category_user_count_bin_6', 'category_user_count_bin_7', 'user_video_count_bin_2', 'user_video_count_bin_3', 'user_video_count_bin_4', 'user_video_count_bin_5', 'category_video_count_bin_2', 'category_video_count_bin_3', 'category_video_count_bin_4', 'category_video_count_bin_5', 'category_video_count_bin_6', 'category_video_count_bin_7', 'user_id', 'video_id', 'category_id', 'profession_1', 'profession_2', 'user_category_count_2', 'user_category_count_3', 'user_id_orig', 'video_id_orig', 'category_id_orig', 'gender_0', 'gender_1']

,age_bin_2,age_bin_3,age_bin_4,age_bin_5,age_bin_6,age_bin_7,age_bin_8,followers_bin_2,followers_bin_3,followers_bin_4,...,category_id,profession_1,profession_2,user_category_count_2,user_category_count_3,user_id_orig,video_id_orig,category_id_orig,gender_0,gender_1
0,0,0,0,0,0,0,0,1,1,1,...,-0.888583,1,0,0,0,-0.734321,-1.258672,-0.888583,0.0,1.0
1,0,0,0,0,0,0,0,1,1,1,...,0.222118,1,0,1,0,0.599980,0.913196,0.222118,0.0,1.0
2,1,0,0,0,0,0,0,1,0,0,...,-0.119636,1,0,1,0,1.196111,-0.844982,-0.119636,1.0,0.0
3,1,0,0,0,0,0,0,1,1,0,...,-1.315775,1,0,1,0,0.460940,-1.527569,-1.315775,1.0,0.0
4,0,0,0,0,0,0,0,1,1,0,...,-1.315775,1,0,1,0,-0.908463,-1.506885,-1.315775,0.0,1.0

In [209]:
temp=train.sort_values(by='user_id_orig')
temp[['user_id_orig','video_id_orig','engagement_score']].head(100)

       user_id_orig  video_id_orig  engagement_score
18997             1              1              2.88
35826             1              2              3.66
59047             1              3              2.88
51931             2              6              2.76
57069             2              4              3.65
...             ...            ...               ...
22443            33             83              2.48
729              34             59              1.84
57188            34              9              3.09
75140            34             87              3.13
24835            34             60              2.06

[100 rows x 3 columns]

In [188]:
%%time
knn_hamm = create_model('knn',n_neighbors=25,
                       metric='euclidean',
                       weights='distance',
                  )

CPU times: user 7.21 s, sys: 358 ms, total: 7.57 s
Wall time: 34.6 s

In [210]:
%%time
#  params = {
#      'bagging_fraction': 0.8,
#     'bagging_freq': 15,
#     'learning_rate': 0.05,
#     'feature_fraction': 0.9,
#      'max_depth': 12,
#     'num_leaves': 30,
#     'reg_alpha': 0.3,  
#     'reg_lambda': 0.7,
#      'n_estimators': 200,
#  }
lgbm = create_model('lightgbm')
lgbm

CPU times: user 40.2 s, sys: 143 ms, total: 40.4 s
Wall time: 8.46 s

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=100, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)